
body{
   background: linear-gradient(45deg, #000000, #2c2c2c, #555555, #7d7d7d, #a6a6a6, #d3cdcd, #dfdfdf, #ffffff);

}
.titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color :red;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    
    display: flex;
    justify-content: center;
}
.sidebar{

    font-family: Arial, Helvetica, sans-serif;
    width: 6px;
    height: 1%;
    padding: 60px;
    box-sizing: border-box;
    color: black;
    overflow: hidden;
    border-radius: 20px;
    transition: width .75s ease;
    align-items: center;
    text-align:center;
    border-color: lightgray;
}
.sidebar:hover{
    width: 20%;
}
.filmes{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.imgborda{
    border-radius: 20px;
}
.bla{
    visibility: hidden;
}
.facebook{
    background-color: blue;
    border-radius: 50px;
}
.instagram{
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    border-radius: 50px;
}
.twitter{
    border-radius:  50px;   
    background-color: #00acee;
}
@media screen and (max-width:600px){
    .filmes{
        display: inline-block;
        background-color: lightblue;
        justify-content: center;
    }
    .titulo{
        display: flex;
        color: purple;
        justify-content: left ;
        
    }
    .search{
        display: flex;
        justify-content: left;
    }
    
}
@media screen and (max-width:480px){
    .filmes{
        display: inline-block;
        background-color: rgb(5, 70, 92);
        justify-content: center;
        
    }
    .titulo{
        display: flex;
        color: rgb(0, 255, 76);
        justify-content: left ;
        
    }
    .search{
        display: flex;
        justify-content: left;
    }
    .sidebar{
        display: flex;
        justify-content: end;
    }
}
